{
    "extends": [
        "eslint-config-airbnb",
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "import",
        "prettier",
        "react"
    ],
    "rules": {
        "prettier/prettier": "error"
    },
    "env": {
        "browser": true,
        "es6": true
    }
}